<%= render @user %>
<div class="columns is-centered">
  <div class="column is-half">
    <% if current_user == @user %>
      <div class="content">
        <article class="panel is-info">
          <p class="panel-heading">
            Friend Requests
          </p>
          <div class="panel-block">
            <% if current_user.requested_friends.any? %>
              You have <%= pluralize(current_user.requested_friends.count, 'request') %>, <%= link_to 'See all', friend_requests_path, class: "is-link" %>
            <% else %>
              No friend requests
            <% end %>
          </div>
        </article>
      </div>
    <% end %>
    <div class="content">
      <article class="panel is-info">
        <p class="panel-heading">
          Recent Posts
        </p>
        <div class="panel-block">
          <p class="control has-icons-left">
            <input class="input is-primary" type="text" placeholder="Search by date">
            <span class="icon is-left">
              <i class="fas fa-search" aria-hidden="true"></i>
            </span>
          </p>
        </div>
      </article>
    </div>
    <%= render @posts %>
  </div>
</div>
